{extend name="base" /}
{block name="title"}后台管理中心 - Hidove影视系统{/block}
{block name="main"}
<div class="mdui-container-fluid">
</div>
  <div class="mdui-container">
      <div class="mdui-typo">
            <li class="mdui-list-item mdui-ripple"><strong> 网站设置</strong></li>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">网站标题</label>
                <input name="title"  class="mdui-textfield-input Hidove-set-input" type="text" value="{$Hidove.title}"/>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">网站副标题</label>
                <input name="subtitle" class="mdui-textfield-input Hidove-set-input" type="text" value="{$Hidove.subtitle}"/>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">关键字</label>
                <input name="keywords"  class="mdui-textfield-input Hidove-set-input" type="text" value="{$Hidove.keywords}"/>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">描述</label>
                <input name="description" class="mdui-textfield-input Hidove-set-input" type="text" value="{$Hidove.description}"/>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">小图标</label>
                <input name="favicon" class="mdui-textfield-input Hidove-set-input" type="text" value="{$Hidove.favicon}"/>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">avatar</label>
                <input name="avatar" class="mdui-textfield-input Hidove-set-input" type="text" value="{$Hidove.avatar}"/>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">重置密码(不要可以不填)</label>
                <input name="password" class="mdui-textfield-input Hidove-set-input" type="text" value=""/>
            </div>
            <button id="submit" class="Hidove-admin-btn mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">提交</button>
  </div>
  <div style="height: 100px"></div>
  </div> 
 <script>
  var setArr = {};
  $('#submit').click(function(){
      $('.Hidove-set-input').each(function(){
          setArr[$(this).attr('name')] = ($(this).val());//添加至对象
      });
      $.ajax({
          type:"POST",
          url:"{:url('admin/index/updateSet')}",
          data:setArr,
          datatype: "json",
          //成功返回之后调用的函数             
          success:function(data){
              if(data['code']==1){
                  mdui.snackbar({
                      message: '更新成功'
                  });
              }else{
                  mdui.snackbar({
                      message: '更新失败'
                  });
              }          
          },
          error: function(){
              //请求出错处理
              mdui.snackbar({
                      message: '接口连接失败'
              });
          }         
       });

  });
 </script>
{/block}
