
.Hidove-container{
    padding:0px;
}
.Hidove-video-list{
    width:107px;
}
.Hidove-video-list-title{
    width:107px;
}
.Hidove-video-cover{
    width:107px;
    height:148px;
}
.Hidove-cd-top{
    bottom: 62px;
}