{extend name="./templates/default/base.html" /}
{block name="title"}{$info.sort.title} - {$Hidove.title}{/block}
{block name="main"}
<div class="mdui-container-fluid Hidove-container">
  <div class="mdui-typo Hidove-video-list-info" id="list-info">
    </div>
  <div class="mdui-clearfix Hidove-video-col" id="videoList">
      <div id="videoListLoading" >
          <div class="loader">
              <div class='loader_overlay'></div>
              <div class='loader_cogs'>
                <div class='loader_cogs__top'>
                  <div class='top_part'></div>
                  <div class='top_part'></div>
                  <div class='top_part'></div>
                  <div class='top_hole'></div>
                </div>
                <div class='loader_cogs__left'>
                  <div class='left_part'></div>
                  <div class='left_part'></div>
                  <div class='left_part'></div>
                  <div class='left_hole'></div>
                </div>
                <div class='loader_cogs__bottom'>
                  <div class='bottom_part'></div>
                  <div class='bottom_part'></div>
                  <div class='bottom_part'></div>
                  <div class='bottom_hole'></div>
                </div>
                <p>loading</p>
              </div>
           </div>
       </div>
  </div>
  <!-- 底部导航 -->
    <div class="mdui-bottom-nav mdui-color-theme">
        <a href="{:url('index/index/sort',['id'=>$info.sort.id,'page'=>($info.page-1)])}" class="mdui-ripple">
          <i class="mdui-icon material-icons">&#xe5c4;</i>
          <label>Preview</label>
        </a>
        <a href="" class="mdui-ripple">
          <i class="mdui-icon material-icons">&#xe5d5;</i>
          <label>Refresh</label>
        </a>
        <a href="{:url('index/index/sort',['id'=>$info.sort.id,'page'=>($info.page+1)])}" class="mdui-ripple">
          <i class="mdui-icon material-icons">&#xe5c8;</i>
          <label>Next</label>
        </a>
      </div>
  <!--  -->
 </div>
 <script>
   //判断是否是手机
var ua = navigator.userAgent;
var ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
isIphone =!ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
isAndroid = ua.match(/(Android)\s+([\d.]+)/),
isMobile = isIphone || isAndroid;
//判断
if(isMobile){
  //加载css
$('<link type="text/css" rel="stylesheet" href="{$Hidove.template}css/mobile.css" />').appendTo("head"); 
}
   $.ajax({
   type:'get',
     url:"{:url('api/table/sort')}",
     dataType:'json',
     data:{
        'sort':'{$info.sort.id}',
        'page':'{$info.page}'
        },
       success:function(data){
         var html;
         // console.log(data);
         var info = data['data']['info']
         if(info['pagecount'] == ''){
           html =  `<p>
                     <strong>数据获取</strong><code>异常</code>
                     <strong>请</strong><code>重试</code>
                   </p>`
         }else{
           html = 
                 `<p>
                   <strong>当前第</strong><code>`
                   +info.page
                   +`</code><strong>页</strong>
                   &nbsp;&nbsp;
                   <strong>总共：</strong><code>`
                   +info['pagecount']
                   +`</code><strong>页</strong>
                   &nbsp;&nbsp;
                   <strong>共：</strong><code>`
                   +info['recordcount']
                   +`</code><strong>条数据</strong>
                   &nbsp;&nbsp;
                   <strong>数据类型：</strong><code>`
                   +info['dataType']
                   +`</code></p>`
         }
         $('#list-info').html(html);        
         html = '';
         // 
         video = data['data']['video'];
         for (var index = video.length;index>0;index--){
           var table;
         // 
         table = `<div class="Hidove-video-list mdui-float-left">
               <a href="/info/`
               + video[index-1]['id']
               +`" target="_blank">
                 <img class="mdui-img-fluid Hidove-video-cover" src="`
               + video[index-1]['pic']
               +`"/>
               <div class="Hidove-video-list-title">`
               + video[index-1]['name']
               +`</div>
               </a>
           </div>`
         html = html+ table;
         }
         $('#videoListLoading').remove();
         $('#videoList').html(html);
       },
       error:function(data){
         console.log(data);
           // $('#videoListLoading').remove();
           $('#videoListLoading').html('<p>加载失败</p>');
       }
 });
 </script>
 {/block}