<!DOCTYPE html>
<html>
<head>
  <title>{block name="title"}标题{/block}</title>
  <meta name="keywords" content="{$Hidove.keywords}" />
  <meta name="description" content="{$Hidove.description}" />
  <link rel="icon" href="{$Hidove.favicon}">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
{include file="head" /}
{block name="main"}主内容{/block}
<a href="#0" class="cd-top"><button class="mdui-color-theme-accent mdui-fab mdui-fab-fixed mdui-ripple"><i class="mdui-icon material-icons">&#xe316;</i></button></a>
<script src="/static/js/base.js"></script>
</body>
</html>