body{
	margin: 0px;
}
a{ 
	text-decoration:none; 
	color:#333; 
	} 

/* 调整网格边距 */
.Hidove-video-list .mdui-col,
.Hidove-video-list [class*="mdui-col-xs-"],
.Hidove-video-list [class*="mdui-col-sm-"],
.Hidove-video-list [class*="mdui-col-md-"],
.Hidove-video-list [class*="mdui-col-lg-"],
.Hidove-video-list [class*="mdui-col-xl-"] {
	/* padding: 5px!important; */
	/* padding: 5px auto!important; */
	/* margin:  5px auto!important; */
	padding-right:0px;
	padding-left:0px;
	width: 134px;
	height: 167px;
}
.Hidove-video-list img{
	width: 134px;
	height: 167px;
}
.Hidove-info-card{
	width: auto;
	margin-bottom: 20px;
}
ul li{
	list-style: none;
}
li{
	list-style: none;
}
.Hidove-info-li{
	display: inline;
}
.Hidove-info-url{
	text-align: left;
	padding-top: 10px;
	/* padding: 10px auto; */
	/* border: red solid; */
}
.Hidove-info-ul{
	margin: 0px !important;
}
.Hidove-info-url-list{
	margin: 5px;
}
.Hidove-video-list-info{
	margin: 8px;
}

.Hidove-video-col{
	margin: 8px 0px;
}
.Hidove-video-list{
	display:table;
	margin:3px;
	padding-right:0px;
	padding-left:0px;
}
.Hidove-video-cover:hover{
    transform: scale(1.05);
}

.Hidove-video-cover{
    border: none;
	border-radius: 6px;
    box-shadow: 6px 6px 20px #999;
    position: relative;
	background-size: 100% 100%;
	cursor: pointer;  
    transition: all 0.6s;
}
.Hidove-video-list-title{
	text-align: center;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 134px;
	margin-top: 3px;
}
#videoListLoading{
	text-align: center;
	/* width: 100%; */

}
#videoListLoading svg{
	margin: 10px;
}